@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .search {
        background: rgba(255, 255, 255, 0.15);
        padding: 10px 15px;
    }

    .single-movie:hover {
        border-color: rgba(255, 255, 255, 0.5);
    }

    .movie-content {
        background: rgba(0, 0, 0, 0.7);
        transition: 0.3s all;
    }

    .single-movie:hover .movie-content {
        visibility: visible;
        opacity: 1;
    }

    .bookmark {
        padding: 5px 10px;
        top: 20px;
        left: 20px;
    }

    .bookmarked {
        border-color: rgba(0, 128, 0, 1);
    }

    .movie-list {
        min-height: calc(100vh - 270px);
    }

    .loginWrapperH {
        min-height: calc(100vh - 220px);
    }

    @media only screen and (min-width: 480px) {
        .filter-wrapper li:first-child {
            margin: 0 0 0 12px;
        }
    }

    @media only screen and (min-width: 768px) {
        .filter-wrapper li:first-child {
            margin: 0;
        }
    }

    @keyframes spinning-loading-icon {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .loading-icon-wrapper {
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        max-width: none;
        border-radius: 0;
        background-color: #000;
        min-height: 100vh;
    }

    .loading-icon {
        border: 8px solid #fff;
        border-radius: 50%;
        border-top: 8px solid #b91c1c;
        width: 65px;
        height: 65px;
        animation: spinning-loading-icon 1.7s linear infinite;
        position: relative;
        z-index: 9999;
        background: transparent;
    }

}