@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .search {
        background: rgba(255, 255, 255, 0.15);
        padding: 10px 15px;
    }

    .single-movie:hover {
        border-color: rgba(255, 255, 255, 0.5);
    }

    .movie-content {
        background: rgba(0, 0, 0, 0.7);
        transition: 0.3s all;
    }

    .single-movie:hover .movie-content {
        visibility: visible;
        opacity: 1;
    }

    .bookmark {
        padding: 5px 10px;
        top: 20px;
        left: 20px;
    }

    .bookmarked {
        border-color: rgba(0, 128, 0, 1);
    }

    .movie-list {
        min-height: calc(100vh - 270px);
    }

    @media only screen and (min-width: 480px) {
        .filter-wrapper li:first-child {
            margin: 0 0 0 12px;
        }
    }

    @media only screen and (min-width: 768px) {
        .filter-wrapper li:first-child {
            margin: 0;
        }
    }

}